@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.intro {
  background-color: #23424a;
  color: white;
  padding: 7em 0;
}

.intro__text {
  width: 60%;

  & h1 {
    font-size: 2.285rem;
    font-weight: 900;
    margin-top: 0;
  }

  & p {
    margin-bottom: 3em;
  }
}

.btn {
  display: inline-block;
  font-weight: 700;
  color: #23424a;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #38cfd9;
  padding: 1em 2em;
  border-radius: 100px;
}

@media (min-width: 700px) {
  html {
    font-size: 21px;
  }
}
