:root {
  --beige-custom: #f3eed9;
  --brown-custom: #824936;
  --black-soft: #222c3a;
}

*, *::before, *::after {box-sizing: border-box;}

body {
  font: 400 1rem "Roboto";
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.section-img {
  border: 0;
  object-fit: scale-down;
  object-position: top left;
}

.hero {
  background-color: #F3EED9;
  padding-block: 15rem;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin-inline: auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;

  & > * {
    width: 46%;
  }
}

.hero__title {
  font: 900 2.857rem 'Playfair Display', sans-serif;
  color: var(--brown-custom);
}

.hero__subtitle {
  font: 300 .857rem 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: var(--black-soft);
  margin-bottom: .5rem;
}

section {
  padding-block: 4em;
}

.section-two {
  background-color: whitesmoke;
}

.section-two .title {
  color: var(--brown-custom);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-two p {
  margin-bottom: 1.5rem;
}

.section-three {
  color: white;
  background-color: var(--black-soft);
}

.section-four {
  color: var(--beige-custom);
  background-color: var(--brown-custom);
}

.title {
  font: 900 1.714rem "Playfair Display", sans-serif;
}

@media (min-width: 768px) {
  /* tablet width */
  html {
    font-size: 21px;
  }
}
